<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="da" lang="da">
<head>
	<!-- Martin Kaestel (c)+(p) 2006 //-->
	<!-- All material protected by copyrightlaws (as if you didnt know) //-->
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="imagetoolbar" content="no" />
	<title>-- ANYTHINK --</title>
	<style type="text/css">
		* {
			font-family: verdana;
		}

		body {
			/* 11px */
			font-size: 0.689em;
		}
		h1, h2, h3, h4, h5, p {margin: 0; padding: 0;}
		ul { overflow: hidden; padding: 0;}
		li { list-style: none; float: left;}
		li img { width: 100px; height:200px;}
		li:hover img { width: auto; height: auto;}
	</style>
</head>
<body>

	<h1 style="font-size: 255%">Test h1 - font-size: 255%</h1>
	<h1 style="font-size: 28px;">Test h1 - font-size: 28px</h1>
	
	<hr />

	<h1 style="font-size: 218.5%">Test h1 - font-size: 218.5%</h1>
	<h1 style="font-size: 24px;">Test h1 - font-size: 24px</h1>
	
	<hr />

	<h1 style="font-size: 182%">Test h1 - font-size: 182%</h1>
	<h1 style="font-size: 20px;">Test h1 - font-size: 20px</h1>

	<hr />

	<h1 style="font-size: 164%">Test h1 - font-size: 164%</h1>
	<h1 style="font-size: 18px;">Test h1 - font-size: 18px</h1>

	<hr />

	<h1 style="font-size: 155%">Test h1 - font-size: 155%</h1>
	<h1 style="font-size: 17px;">Test h1 - font-size: 17px</h1>

	<hr />

	<h1 style="font-size: 146%">Test h1 - font-size: 146%</h1>
	<h1 style="font-size: 16px;">Test h1 - font-size: 16px</h1>

	<hr />

	<h1 style="font-size: 136.5%">Test h1 - font-size: 136.5%</h1>
	<h1 style="font-size: 15px;">Test h1 - font-size: 15px</h1>

	<hr />
	
	<h2 style="font-size: 127.5%;">Test 2 - font-size: 127.5%</h2>
	<h2 style="font-size: 14px;">Test 2 - font-size: 14px</h2>

	<hr />
	
	<h3 style="font-size: 118.5%;">Test h3 - font-size: 118.5%</h3>
	<h3 style="font-size: 13px;">Test h3 - font-size: 13px</h3>

	<hr />

	<h4 style="font-size: 109.5%;">Test h4 - font-size: 109.5%</h4>
	<h4 style="font-size: 12px;">Test h4 - font-size: 12px</h4>

	<hr />

	<h5 style="font-size: 100%;">Test h5 - font-size: 100%</h5>
	<h5 style="font-size: 11px;">Test h5 - font-size: 11px</h5>

	<hr />
	
	<p style="font-size: 91%;">Test p - font-size: 91%</h1>
	<p style="font-size: 10px;">Test p - font-size: 10px</h1>

	<hr />

	<p style="font-size: 82%;">Test p - font-size: 82%</h1>
	<p style="font-size: 9px;">Test p - font-size: 9px</h1>

	<ul>
		<li>
			<h3>Safari</h3>
			<img src="safari.png" />
		</li>
		<li>
			<h3>Firefox/Mac</h3>
			<img src="firefox_mac.png" />
		</li>
		<li>
			<h3>Firefox/Win</h3>
			<img src="firefox_win.png" />
		</li>
		<li>
			<h3>IE7</h3>
			<img src="ie7.png" />
		</li>
		<li>
			<h3>IE6</h3>
			<img src="ie6.png" />
		</li>
	</ul>
</body>
</html>