@media all and (max-width: 1000px) {
	body {width: auto;}
	#page {width: auto; min-width: 700px; position: relative;}
	#page div.photo_wrapper {width: 48%;}

	#header {width: 50%;}
	#navigation {width: 50%;}


	#navigation ul li {font-size: 12px;}
	#navigation ul li a {padding: 10px 10px 0;}
	#navigation ul li ul {width: 100%;}

	#content {width: 50%;}
	#content .scene.prices table.prices {width: auto;}
	#content .scene.prices table.prices td.item {white-space: normal;}

	#footer .vcard {width: auto; left: auto; margin-left: 0px;}
}
