* {font-family: "OpenSans", Verdana, Arial, sans-serif; color: #000000;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;

/*
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
*/
}

html {height: 100%;}
body {background: #ffffff url(/img/desktop/bg_top.png) repeat-x top left; margin: 0 auto; width: 1000px; overflow-y: scroll;}


/* BASE */
h1, h2, h3, h4, h5, h6, p, ul, li, dl, dd, dt {padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, p, li, dd, dt, span, a {line-height: 1em; font-weight: normal;}

ul {list-style: none;}
a {text-decoration: none; cursor: pointer;}
a:hover {}

img {border: 0; display: block;}
form, fieldset, label, input, select, textarea {padding: 0; margin: 0; font-weight: normal;}
fieldset {border: none;}
input, select, textarea {font-size: 14px;}
input, textarea {outline: none;}


#page {width: 1000px; overflow: hidden;}

a, span {font-size: inherit; font-family: inherit; color: inherit; text-transform: inherit; font-weight: inherit;}

h1 {padding: 0 30px 30px; font-size: 28px; line-height: 1em; font-weight: bold;

}
h2 {padding: 0 30px 20px; font-size: 20px; line-height: 1em;}

h3 {padding: 0 30px 10px; font-size: 16px; line-height: 1em;}
h4 {}
h5 {}
h6 {}

p {padding: 0 30px 20px; font-size: 13px; line-height: 1.38em;} 


ul {font-size: 0; padding: 0 15px;}
li {display: inline-block; vertical-align: top; font-size: 13px;}

li h3,
li p {padding-left: 15px; padding-right: 15px;}


dl {font-size: 0;} 
dd, 
dt {display: inline-block; vertical-align: top; text-transform: uppercase; color: #666666; font-size: 13px;}


/* PHOTO COLUMN */
#page div.photo_wrapper {width: 480px; position: absolute; left: 50%; top: 0; padding: 0 2px 0 2px; background: #a63400; overflow: hidden;}
#page ul.photos {padding: 0;}
#page ul.photos .photo {height: 270px; display: block; padding: 1px 0; background-repeat: no-repeat; background-position: center 1px; position: relative;}
#page ul.photos .photo span {position: absolute; bottom: 0; right: 0; display: block; background: rgba(0, 0, 0, 0.5); color: #ffffff; padding: 7px 20px;}

#page ul.photos .photo.link {cursor: pointer;}
#page ul.photos .photo.link:hover span {text-decoration: underline;}

